:root {
  --white: hsl(0, 0%, 100%);
  --gray-light: hsl(212, 45%, 89%);
  --blue-gray: hsl(220, 15%, 55%);
  --blue-dark: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--gray-light);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  letter-spacing: .3px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-code-card {
  background-color: var(--white);
  width: 350px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--blue-dark);
}

.card-instruction {
  font-size: 1rem;
  color: var(--blue-gray);
}

.qr-code-img {
  max-width: 100%;
  display: block;
  border-radius: 1rem;
}

.card-data {
  text-align: center;
  padding: 1.2rem .8rem;
}